################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.android
/.android
/.arduinoIDE
/.azuredatastudio
/.cisco/vpn/log
/.config/git
/.dotnet
/.eclipse/org.eclipse.platform_4.2.0_1433552022
/.eclipse/org.eclipse.platform_4.2.0_1433552022
/.eclipse/org.eclipse.platform_4.2.0_1433552022
/.gradle
/.gradle
/.gradle
/.idlerc
/.jdks
/.jdks
/.jdks
/.librarymanager
/.matplotlib
/.nuget/packages
/.nuget/packages
/.ssh
/.matplotlib
/.nuget/packages
/.ssh
/.VirtualBox
/.VirtualBox
/.VirtualBox
/3D Objects
/3D Objects
/AndroidStudioProjects
/AndroidStudioProjects
/AndroidStudioProjects
/AppData
/.swt/lib/win32/x86_64
/Cisco Packet Tracer 8.1.0
/Cisco Packet Tracer 8.2.0
/Cisco Packet Tracer 8.2.0
/Contacts
/Desktop/1
/Desktop/APA
/Desktop/Az Riz
/Desktop/Bluetooth/1
/Desktop/Bluetooth
/Desktop/deutsch
/Desktop/Game Making
/Desktop/haxm-windows_v7_6_1
/Desktop/TehranJob
/Desktop/Tor Browser
/Desktop/HP Support
/Desktop/movie
/Desktop/movie
/Desktop/New folder
/Desktop/PHP
/Desktop/repos
/Desktop/repos
/Desktop/ScreenShots
/Desktop/Xamarin
/Desktop/الگوریتم فشرده سازی
/Desktop/دانشگاه/front
/Desktop/دانشگاه/money/12
/Desktop/دانشگاه/money/13
/Desktop/دانشگاه/money/15
/Desktop/دانشگاه/money/16
/Desktop/دانشگاه/ترم4/نظريه ز و ماشين ها/تمرین هاا/3
/Desktop/دانشگاه/ترم6
/Desktop/دانشگاه/ترم6
/Desktop/دانشگاه/ترم7
/Desktop/دانشگاه/وام دانشگاه
/Desktop/دانشگاه/1571228120-02622500.png
/Desktop/دانشگاه/95Computer2.pdf
/Desktop/دانشگاه/desktop.ini
/Desktop/دانشگاه/desktop.ini
/Desktop/دانشگاه/واکسن.png
/Desktop/دانشگاه/FixKeyBoardForAdobeConnect.exe
/Desktop/مقاله
/Desktop/1.jpg
/Desktop/2.docx
/Desktop/a.jpeg
/Desktop/Adobe Photoshop 2020.lnk
/Desktop/Adobe Connect.lnk
/Desktop/Advanced Video Compressor.lnk
/Desktop/Aiseesoft PDF Splitter.lnk
/Desktop/Android Studio.lnk
/Desktop/Cheat Engine.lnk
*.lnk
*.ini
/Desktop/Education Senario.sql
/Desktop/FPGA.pdf
/Desktop/FruitCraftCosts.exe
/Desktop/MOOC.txt
/Desktop/sepideh.txt
/Desktop/Pp.txt
/Desktop/یا ایها الساقی.png
/Desktop/فرمول های بازار چه فروت کرفت.txt
/Desktop/شعر.png
/Desktop/ریاضی هفتم.pdf
/Documents
/Downloads
/Favorites
/IntelGraphicsProfiles
/MicrosoftEdgeBackups/backups/MicrosoftEdgeBackup20200709
/OneDrive
/Searches
/source/repos
/tmp/logs/sdk-manager
/Videos/Movavi Video Editor
/.bash_history
/.emulator_console_auth_token
/.gitconfig.backup
/.packettracer
/.gitconfig
/.php_history
/DBJWTAPI.mdf
/DBJWTAPI_log.ldf
/Desktop/ΑγαΑδ Ααι θαΑιΒκαΑγ.txt
/Desktop/حکمت.png
/Desktop/در طلبت در بقا.png
/Desktop/needs.txt
/Desktop/suits season 8.txt
/Desktop/toturial.txt
/LICENSE.txt
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{53b39e87-18c4-11ea-a811-000d3aa4692b}.TxR.0.regtrans-ms
/NTUSER.DAT{53b39e87-18c4-11ea-a811-000d3aa4692b}.TxR.1.regtrans-ms
/NTUSER.DAT{53b39e87-18c4-11ea-a811-000d3aa4692b}.TxR.2.regtrans-ms
/NTUSER.DAT{53b39e87-18c4-11ea-a811-000d3aa4692b}.TxR.blf
/NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf
/NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms
/Desktop/دانشگاه/money/14/1.docx
/Desktop/دانشگاه/money/14/CodeDocumentation.docx
/Desktop/دانشگاه/money/14/d4e8dceb-5097-48cd-bc6e-dbd0f6c47bab.pdf
/Desktop/دانشگاه/money/14/photo5224383710.jpg
/Desktop/دانشگاه/money/14/ProjectDocumentation.docx
/Desktop/Front-End/Excersize
/Desktop/Front-End/Excersize2
/Desktop/Front-End/Fars-News-V2-main
/Desktop/Front-End/project 3
/Desktop/Front-End/RemoteControl
/Desktop/Front-End/5.zip
/Desktop/Front-End/Excersize2.zip
/Desktop/Front-End/5/.vs
/Desktop/Front-End/5/s.txt
